<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="." mimeType="text/plain" />
        </staticContent>
        <handlers>
            <add name="PHP CGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\utils\php\php-cgi.exe" resourceType="File" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <!-- Set Cache-Control for all responses -->
                <add name="Cache-Control" value="public, max-age=0" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
