<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<!--
		<cors enabled="true" failUnlistedOrigins="true">
            <add origin="*" /> 
			
            <add origin="http://192.168.56.10:8081">
			
                <allowHeaders allowAllRequestedHeaders="true">
                </allowHeaders>
                <allowMethods>
                     <add method="POST" />
                     <add method="GET" />
                </allowMethods>
			</add>
            
			<add origin="https://*.microsoft.com"
                 allowCredentials="true"
                 maxAge="120"> 
                <allowHeaders allowAllRequestedHeaders="true">
                    <add header="header1" />
                    <add header="header2" />
                </allowHeaders>
                <allowMethods>
                     <add method="DELETE" />
                </allowMethods>
                <exposeHeaders>
                    <add header="header1" />
                    <add header="header2" />
                </exposeHeaders>
            </add>
            
        </cors>
-->
        <staticContent>
            <mimeMap fileExtension="." mimeType="text/plain" />
        </staticContent>
        <handlers>
            <add name="PHP CGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\utils\php\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
